.footer-logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.footer-adress-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
}

.logo-white {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .footer-logo:hover > &,
  .footer-logo:focus > & {
    color: var(--hover-color);
  }
}

.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

/* address */

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--hover-color);
  }
}

.footer-logo {
  display: flex;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.contacts .adress {
  display: flex;
  margin-bottom: 9px;
}

.footer-adress {
  display: flex;
  flex-direction: column;
}

.contacts-footer {
  margin-bottom: 9px;
}

.contacts .adress {
  display: inline-block;
}

.adress-footer {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.adress-info {
  margin-bottom: 9px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

/* footer-send */

.footer-submit {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-mail-footer {
  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #2f303a;
  color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-color: var(--hover-color);
  }
}

.input-mail-footer::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.footer-btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-telegram {
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-50%);
  margin-left: 10px;
}

.icon-btn-footer {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.join {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-info {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
  }
}

.join-rights {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer-social {
  display: flex;
  align-items: center;
}

.link-social {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.icon-social {
  fill: var(--accent-color);

  .link-social:hover &,
  .link-social:focus & {
    fill: var(--accent-color);
  }
}

.item-social:not(:last-child) {
  margin-right: 10px;
}

.item-social {
  width: 44px;
  height: 44px;
}
